footer {
    margin: 0%;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.rodapé {
    background-color: #839b83;
    padding-block: 40px;
}
.footer-txt {
    text-align: center;
    color: #c6c5bf;
}
.icon {
    width: 30px;
}
.all-icons {
    text-align: center;
    margin-top: 5px;
}
