.rodapé{
    padding: 0%;
    margin-top: 40%;
}
.icons{
    background-color:white;
    text-align: center;
    padding-left:5px;
}
.direitos{
    text-align: center;
    color:#494747;
    padding:5px;
}
img{
    border:5px thin black;
    border-radius:20px;
}
.caixa1{
    text-align: center;
    float: left;
    padding-left:550px;
}
.caixa2{
    text-align: center;
    float: left;
    padding-left:50px;
}
.caixas{
    text-align: center;
    display: flex;
}
#dentro{
    background-color:#839B83;
}
.contatos{
    text-align:right;
    color:#494747;
}